table{
	width: 60%;
	margin: 5% auto;
	border-collapse: collapse;
}
th,td{
	border: solid #336633 1 px;
	padding: 4em ;
}
thead{
	background-color: #339933;
	color: white;
}
tbody td{
	text-align: center;
}
tbody td:nth-child(3){
	font-style: italic
}
tbody tr:nth-child(even){
	background-color: #88ee88;
}
tbody tr:nth-child(odd){
	background-color: #99ff99;
}
thead th:first-child
tbody td:first-child {
	text-align: left;
}
tbody tr:hover {
	background-color: #336633;
	color: white;
}

